/*=================================================================
                Header section Style
===================================================================*/

.nav-shadow{
    box-shadow: 1px 1px 11px #9e9e9e7e;
}
.slider-margin{
    margin: 160px 0px 100px;
}
.slider-bg{
    background-color: #fcedeb;
}

.slider-rounded{
    border-radius:15px;
}
.slider-price-color{
    color: #ff136f;
}


.panda-buying-btn{
    color: #fff;
    background-image:linear-gradient(#fd77ab, #ff136f);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
    box-shadow: 1px 1px  10px -1px #646464b9;
}
/*=================================================================
                  Product catagories Style
===================================================================*/
.bag-bg{
   background-color: #da70d6;
   color: #fff;
}
.watch-bg{
  background-color:#ffa500;
  color: #fff;
}

.shoes-bg{
    background-color: #0000ff;
    color: #fff;
}


