/*=================================================================
                     common Style
===================================================================*/

.nav-shadow{
    box-shadow: 1px 1px 11px #9e9e9e7e;
}
.slider-margin{
    margin: 160px 0px 50px;
}
.slider-bg{
    background-color: #fcedeb;
}

.slider-rounded{
    border-radius:15px;
}
.slider-price-color{
    color: #ff136f;
}


.panda-buying-btn{
    color: #fff;
    background-image:linear-gradient(#ff7fb0, #ff136f);
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}







